---
import Layout from "../layouts/Layout.astro";
import Title from "../components/Title.astro";
import BookList from "../components/BookList.astro";
---

<Layout title="Libros de Programación">
  <main class="m-auto max-w-4xl">
    <Title />

    <BookList />
  </main>
</Layout>
